html{
    font-family: 'Comic Sans MS';
    background-color: rgb(177, 133, 133);
}


li, a{

    color: brown;
    text-decoration: none;
}

.Links li{
    display: inline-block;
    padding: 0px 20px;
    padding-top: 50px;
}

h2 {
    text-align: center;
    margin: 40px 8px 10px 8px; 
    color: brown;
}

h1 {
    color: brown;
}

h3{

    color: brown;
}

.texto{
    color:brown;
    text-align: center;
}
